
.fixedFooter {
    bottom: 0;
    left: 0;
    padding: 10px 0;
    padding-bottom:0px;
    width: 100%;
    background-color: #2b2b2b;
    padding-bottom: 20px;
    margin-top: auto;
}

.footerMenu {
    text-align: center;
}

.footerMenu ul li {
    font-size: 12px;
}


.footerMenu ul {
    margin: 10px auto;
    padding-left: 0px;
}

.footerTitle {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}

.privacyPolicy {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {

    .fixedFooter {
        position: fixed;
        height: 50px;
        padding: 10px 0;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    
    .footerMenu ul li {
        display: inline;
        padding: 0 10px;
        font-size: 16px;
    }
    
    .footerTitle {
        font-size: 12px;
    }
}

