.podcast_link {
    float: left;
    margin-right: 20px;
    
}

.bubka_link {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.column_link {
    color: #FFF;
    font-weight: bold;
    /* 下線 */
    text-decoration: underline;
    text-underline-offset: -0.15em;
    text-decoration-thickness: 0.3em;
    text-decoration-color: #E84288;
    text-decoration-skip-ink: none;
}

.trackInfo {
    text-align: center;
    /*display: flex; */
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.tracksInfo {
    border: solid 3px #E84288;
    margin-bottom: 10px;
    
}

.artistInfo {
    font-size: 20px;
    display: flex;
    justify-content:center;
    
}

.artistName{
    text-align: center;
    display: flex;
    
}

.snsInfo {
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }

iframe {
    width: 350px;
    height: 400px;
    border-style: none;
  }

.monthLink {
    display: block;
    position: relative;
    text-align: center;
}

.month {
    text-decoration: none;
}

.month li{
    font-size: 18px;
}

.pageMonth {
    /* 下線 */
    text-decoration: underline;
    text-underline-offset: -0.15em;
    text-decoration-thickness: 0.3em;
    text-decoration-color: #E84288;
    text-decoration-skip-ink: none;
}

.playlist_link {
    margin-bottom: 30px;
}